$text-color: hsl(0, 0%, 90%);
$font-family: 'Arial', sans-serif;
$primary-color: hsl(0, 0%, 10%);
$accent-color: hsl(120, 100%, 25%);
$link-color: hsl(210, 100%, 50%);
$font-weight: (
    "light": 300,
    "regular": 400,
    "bold": 700,
    heavy: 900
);